{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Index</h1>
  <p class="important">
    Here's some sensor readings from my device
	  <p id = "reading"></p>
	<button onclick="get_data()">get data</button>
	<button onclick="live_data()">Constant update</button>

	<script>
		base_path = 'https://smart-air-quality.herokuapp.com/api/v1' //remote
		{#base_path = 'http://192.168.1.101:5000/api/v1' //local#}
		live_update_on = true

		const live_data = () => {
		    if (live_update_on) {
		        setInterval(get_data, 1000*5)
		    }

		}

		const get_data = async () => {
		    $.ajax({
		        url: `${base_path}/get_readings`,
		        type: "GET",
		        contentType: "application/json",
		    }).done(data => {
		        console.log(data)
				    document.getElementById("reading").innerText = data
		    });
		}
	</script>

{#	<script src="{{ url_for('static', filename='js/get_data.js') }}"></script>#}
{% endblock %}