{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
	{{ super() }}
	<style type="text/css">
      .important {
          color: #336699;
      }
	</style>
	<link rel='stylesheet' href="{{ url_for('static',
	filename='src/fontawesome.min.css') }}">

	<script src="{{ url_for('static', filename='js/draw_chart.js') }}"></script>
{% endblock %}
{% block content %}
	<div class="px-4 flex flex-row items-stretch justify-center">
		<div class="m-4 p-6 shadow rounded bg-gray-50 lg:w-1/2 md:w-3/4 sm:w-full">

			<div class="flex flex-col justify-center mb-2">
				<div class="text-4xl flex-auto text-center m-2">Air quality
				                                                inside</div>
				<div class="flex-auto text-center m-2">
					<span class="text-gray-300">Last updated:</span>
					<span id="reading_time" class="text-gray-300">10:45</span>
				</div>
			</div>
			<div id="latest_data" class="p-2 border-1 rounded-lg shadow m-2">
				<div class="flex flex-col divide-y">
					<div class="flex justify-evenly divide-x">
						<div class="flex flex-row p-3 self-center">
							<div id="temperature_c" class="font-mono text-7xl">25</div>
							<div class="mt-3 ml-2 text-lg">C</div>
						</div>
						<div class="flex flex-row p-3 self-center">
							<div id="humidity" class="font-mono text-7xl">56</div>
							<div class="mt-3 ml-2 text-lg">%</div>
						</div>
					</div>
					<div class="flex justify-evenly divide-x">
						<div class="flex flex-row p-3 self-center">
							<div id="dust" class="font-mono text-7xl text-green-400">0
							                                                         .11</div>
							<div class="mt-3 ml-2 text-lg">mM</div>
						</div>
						<div class="flex flex-row p-3 self-center">
							<div id="tvoc" class="font-mono text-7xl text-green-400">16</div>
							<div class="mt-3 ml-2 text-lg">tVOC</div>
						</div>
					</div>
					<div class="flex justify-around divide-x">
						<div class="flex flex-row p-3 self-center">
							<div id="co2" class="font-mono text-7xl
							text-yellow-400">1005</div>
							<div class="mt-3 ml-2 text-lg">ppm</div>
						</div>
					</div>
				</div>
				{##}
				{#					<div><i class="fas fa-temperature-low"></i>#}
				{#					</div>#}

			</div>

			<div class="flex flex-col items-center border-2 p-2 m-2 bg-yellow-300
				text-center
				hidden"
				     id='minor-alert'>
					<p>CO2 levels raised above 1000 ppm</p>
					<button class="border-2 p-2 m-2 bg-yellow-100"
					        onclick="stop_alarm()">Turn off the
					                               alert
					</button>
				</div>

			{#    Charts    #}
			<h2 class="p-2 mt-10 text-4xl">CO2 levels</h2>
			<div class="p-2 border-1 shadow rounded-lg m-2" id="chart1"></div>

			<h2 class="p-2 mt-10 text-4xl">Temperature, humidity and tVOC</h2>
			<div class="p-2 border-1 shadow rounded-lg m-2" id="chart2"></div>

			<h2 class="p-2 mt-10 text-4xl">Dust levels</h2>
			<div class="p-2 border-1 shadow rounded-lg m-2" id="chart3"></div>

			<div class="flex flex-row items-center">
				<input class="border-2 p-2
			m-2 hover:bg-gray-50 text-l" type="number" min="3"
				       id="readings_num"><br>
				<button onclick="set_num_readings()" class="border-2 p-2
			m-2 text-l hover:bg-gray-50">Show data
				</button>
			</div>

			<div id="controls" class="border-1 shadow m-2 p-2 mt-5">
				<div>
					<label for="readings_interval" class="p-2 m-2">Set readings
					                                               interval in
					                                               seconds</label><br>
					<input class="border-2 p-2
			m-2 hover:bg-gray-50 text-l" type="number" min="3"
					       id="readings_interval"><br>
					<button onclick="set_interval()" class="border-2 p-2
			m-2 text-l hover:bg-gray-50">Set interval
					</button>
					<div class="flex flex-row p-2 text-xl">
						<p class="">Current interval (sec): </p>
						<p id="cur_interval" class="pl-4">10</p>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


	</div>
	<script src="{{ url_for('static', filename='js/js.js') }}"></script>

	<script>
      window.onload = () => {
          live_data()
          {#draw_chart()#}
          setInterval(get_settings, 1000 * 3)
          get_chart_data(num_readings).then(() => {
              chart1 = new ApexCharts(document.querySelector("#chart1"),
                  options1);
              chart1.render();
              chart2 = new ApexCharts(document.querySelector("#chart2"),
                  options2);
              chart2.render();
              chart3 = new ApexCharts(document.querySelector("#chart3"),
                  options3);
              chart3.render();
              chart_refresh = setInterval(
                  redraw_chart
                  , 1000 * 3
              )
          })
      }
	</script>
{% endblock %}